FINAL PROJECT Guideline (Online Learing) January 2025.docx
Kickstart Meeting - JCDEOL-001 (29 Jan 2025).pptx
airflow_app/logs/
airflow_app/dags/__pycache__/
airflow_app/dags/helpers/__pycache__/
airflow_app/dags/helpers/.env