project_brief.pdf
project_kickstart.pdf
airflow_app/logs/
airflow_app/dags/__pycache__/
airflow_app/dags/helpers/__pycache__/
airflow_app/dags/helpers/.env
postgresql_app/postgresql_app/
finalproject_rizkyfajaraditya.pptx
airflow_app/credentials.json
finalproject_rizkyfajaraditya_documentation.pptx
finalproject_rizkyfajaraditya.pdf
airflow_app/dbt_project/logs
airflow_app/dbt_project/target
